ContainerCacheDir/
SINGULARITY_CACHEDIR/
base_images/
datasets/
definitions/
images/
licenses/
nf-core/
testdata/
tests/
tools_bak/
workshop/
tools/hyper-shell
tools/nf-core
tools/Fiji
tools/apptainer
